<div class="container">
  <mat-toolbar class="header">
      <mat-toolbar-row class="liner">
        <span style="font-family:Roboto; color:white">Contact-Book</span>
        <mat-form-field class="searchBar" floatLabel="never">
            <i  class="material-icons MGlass" style="font-size:40px;color:white" [ngStyle]="{'color':iconBlack == true ? 'black' : 'white' }" (click)="startFiltering()">
                search
                </i>
                <input id="input" placeholder="Search" style="width:100%;margin-left:28px;font-size:25px;transform:translate(0,-10px);"  matInput name="searchContact" on-focus="changeMgColor()" on-blur="onBlur()"
                [(ngModel)]="filteredContact" (keyup)="filterContactByName()" on-keydown="startFilter($event)"> 
                <div class="placeHolder">
                    
                </div>
               
          </mat-form-field>
          <i *ngIf="filteredContact && filteredContact.length > 0" class="material-icons" (click)="deleteSearch()"style="transform:translate(-40px)">
              clear
              </i>
              
      </mat-toolbar-row>
      
  </mat-toolbar><br/>
  
  <div class="buttonWrapper">
    <button mat-fab color="warn" class="addButton" mat-raised-button (click)="openDialog()" matTooltip="Add"><label class="plusIcon">+</label></button>
  </div>
  <contact-list [contact]="contact"></contact-list>
  <h2 *ngIf="!noContacts" style="transform:translate(1000px,-200px)"> No contact has been found</h2>
  </div>
  
 